{% extends 'base.html' %}
{% load static %}
{% block content %}

     <!-- CONTENT -->
    <section class="pt-8 pt-md-11 pb-8 pb-md-14">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md">

            <!-- Heading -->
            <h1 class="display-4 mb-2">
              Terms of Service
            </h1>

            <!-- Text -->
            <p class="fs-lg text-gray-700 mb-md-0">
              Updated 18-Apr-2023
            </p>

          </div>
          <div class="col-auto">

            <!-- Buttons -->
            <a href="#!" class="btn btn-primary-soft">
              Print
            </a>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12">

            <!-- Divider -->
            <hr class="my-6 my-md-8">

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12 col-md-8">

            <!-- Text -->
            <p class="fs-lg text-gray-800 mb-6 mb-md-8">
              Below are our Terms of Service where we let to you, our customer(s), know what our general expectations are while you are using our services. Our goal is to keep you happily immersed and engaged. If at any time our content or messaging is offensive in any way, we encourage you to let us know. Please understand that these models give probabilistic responses that are curated by a series of large language model requests. Sometimes they go rogue. They are not human. And please keep in mind, garbage in = garbage out.
            </p>

            <!-- Heading -->
            <h3 class="mb-5">
              Terms of Service
            </h3>

            <!-- Text -->
            <p class="text-gray-800">
              Welcome to www.3juliet.ai ("Website"), owned and operated by 3Juliet AI, LLC, an Alabama Limited Liability Company ("3Juliet AI"). The Website provides a suite of AI-powered tools tailored to the needs of users in education, entertainment, art, and economic development.
            </p>
            <p class="text-gray-800">
              By accessing or using our Website, you agree to be bound by these Terms of Service. If you disagree with any part of these terms, please do not access or use our Website.
            </p>
            <h3 class="mb-5">
              Eligibility
            </h3>
            <p class="text-gray-800">
                To use our Website, you must be the age of majority in your locale or have a verified adult profile attached for supervision. By accessing or using our Website, you represent and warrant that you meet these requirements.
            </p>
            <p class="text-gray-800">
              By accessing or using our Website, you agree to be bound by these Terms of Service. If you disagree with any part of these terms, please do not access or use our Website.
            </p>
            <h3>
                User-Generated Content
            </h3>
            <p class="text-gray-800">
               Our Website hosts content that is open-source and community-contributed, as well as content created by artificial intelligence entities curated through a non-discriminatory, GraphQL-based architecture. By submitting content to our Website, you grant us a non-exclusive, royalty-free, worldwide license to use, modify, and distribute your content.
            </p>
            <h3>
                Data Collection and Privacy
            </h3>
            <p class="text-gray-800">
                Data collection practices vary depending on the account tier. Free account users agree that all data created or collected while logged in may be submitted for AI analysis and used for personal recommendations and bot recall requirements. Paid account users have greater control over data collection and privacy. Please refer to our Privacy Policy for more information.
            </p>
            <h3>
                Disclaimers and Limitations of Liability
            </h3>
            <p class="text-gray-800">
                3Juliet AI provides the Website on an "as is" basis and makes no warranties or representations, express or implied, regarding its functionality or fitness for any purpose. All sales are final. Users are expected to follow a general code of conduct published on the Website. Violators may be subject to suspension or termination of their account.
            </p>
            <h3>
               User Accounts
            </h3>
            <p class="text-gray-800">
                User information remains encrypted and is available only to the user. User data will not be collected for data analysis purposes, minimizing the potential for introducing bias by impersonation. Users may voluntarily share their age and sex with us for more personalized responses.
            </p>
            <h3>
                Intellectual Property and Copyright
            </h3>
            <p class="text-gray-800">
                While our Website is primarily open-sourced, some proprietary internal service models remain confidential. Our general architecture will be documented and available on GitHub.
            </p>
            <h3>
                Contact
            </h3>
            <p class="text-gray-800">
                For any questions, concerns, or reports of violations, please contact us at [your contact email].
            </p>
            <h3>
                Changes to Terms of Service
            </h3>
            <p class="text-gray-800">
                3Juliet AI reserves the right to modify these Terms of Service at any time. We will notify users of any changes by email and through account notifications. Your continued use of the Website after such notification constitutes your acceptance of the revised terms.
            </p>

          </div>

          <div class="col-12 col-md-4">

            <!-- Card -->
            <div class="card shadow-light-lg">
              <div class="card-body">

                <!-- Heading -->
                <h4>
                  Have a question?
                </h4>

                <!-- Text -->
                <p class="fs-sm text-gray-800 mb-5">
                  Not sure exactly what we’re looking for or just want clarification? We’d be happy to chat with you and clear things up for you. Anytime!
                </p>

                <!-- Heading -->
                <h6 class="fw-bold text-uppercase text-gray-700 mb-2">
                  Email us
                </h6>

                <!-- Text -->
                <p class="fs-sm mb-0">
                  <a href="mailto:3julietai@gmail.com" class="text-reset">3julietai@gmail.com</a>
                </p>

              </div>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- SHAPE -->
    <div class="position-relative">
      <div class="shape shape-bottom shape-fluid-x text-dark">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path>
        </svg>
      </div>
    </div>

{% endblock %}