{% extends 'base.html' %}
{% load static %}
{% block  content %}

    <!-- IMAGE -->
    <section data-jarallax data-speed=".8" class="py-12 py-md-15 bg-cover jarallax"
             style="background-image: url({% static 'assets/img/covers/cover-8.jpg' %});"></section>

    <!-- HEADER -->
    <section class="pt-8 pt-md-12">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-10">

            <!-- Heading -->
            <h1 class="display-4 text-center">
              It's already a fixture in the business landscape. How can AI help you?
            </h1>

            <!-- Text -->
            <p class="lead mb-7 text-center text-muted">
              We specialize in creating a diverse suite of AI-powered solutions tailored to meet the specific
                needs of our users. Our user-centric approach ensures that we provide the tools necessary to
                empower businesses, organizations, and individuals to achieve their goals more effectively and
                efficiently.
            </p>

            <!-- Meta -->
            <div class="row align-items-center py-5 border-top border-bottom">
              <div class="col-auto">

                <!-- Avatar -->
                <div class="avatar avatar-lg">
                  <img alt="..." class="avatar-img rounded-circle" src={% static "assets/brand/logo_color-geo_bgtrans (32x35).png" %}>
                </div>

              </div>
              <div class="col ms-n5">

                <!-- Name -->
                <h6 class="text-uppercase mb-0">
                  3Juliet AI
                </h6>

                <!-- Date -->
                <time class="fs-sm text-muted" datetime="2019-05-20">
                  Published on April 20, 2023
                </time>

              </div>
              <div class="col-auto">

                <!-- Share -->
                <span class="h6 text-uppercase text-muted d-none d-md-inline me-4">
                  Share:
                </span>

                <!-- Icons -->
                <ul class="d-inline list-unstyled list-inline list-social">
                  <li class="list-inline-item list-social-item me-3">
                    <a href="#!" class="text-decoration-none">
                      <img class="list-social-icon" alt="..." src={% static "/assets/img/icons/social/instagram.svg" %}>
                    </a>
                  </li>
                  <li class="list-inline-item list-social-item me-3">
                    <a href="#!" class="text-decoration-none">
                      <img class="list-social-icon" alt="..." src={% static "/assets/img/icons/social/facebook.svg" %}>
                    </a>
                  </li>
                  <li class="list-inline-item list-social-item me-3">
                    <a href="#!" class="text-decoration-none">
                      <img class="list-social-icon" alt="..." src={% static "/assets/img/icons/social/twitter.svg" %}>
                    </a>
                  </li>
                </ul>

              </div>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- SECTION -->
    <section class="pt-6 pt-md-8">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-9 col-xl-8">

            <!-- Fugure -->
            <figure class="figure mb-7">

              <!-- Image -->
              <img class="figure-img img-fluid rounded lift lift-lg" alt="..."  src={% static "assets/img/photos/photo-27.jpg" %}>

              <!-- Caption -->
              <figcaption class="figure-caption text-center">
                Are you lost in the world of tech? We can help you find your way.
              </figcaption>

            </figure>

            <!-- Text -->
            <p>
              At 3Juliet AI, we engage with tech differently. We educate and encourage our partners to find ways to leverage the power of cutting-edge AI and machine learning tech to transform the way we tackle everyday challenges. Our research is focused on; designing and streamlining processes, enhancing everyday decision-making, and unlocking new opportunities in education, entertainment, business services, and economic development opportunities in underserved and undervalued communities.
            </p>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- SECTION -->
    <section class="pt-6 pt-md-8">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-9 col-xl-8">

            <!-- Heading -->
            <h3 class="fw-bold">
                Our Purpose
            </h3>

            <!-- Text -->
            <p>
              We encourage a world where AI is within everyone's reach, enabling equal opportunities for learning, creativity and economic prosperity. Here are some areas we think we can help with.
            </p>
            <ul class="mb-0">
              <li>
                Education: Our research aims to improve the learning experience by personalizing curriculum, automating assessments, and fostering collaboration between students and educators. Our tool kit will include algorithms that can analyze individual learning patterns to deliver customized content and enhance the educational journey for learners of all levels.
              </li>
              <li class="mt-4">
                Business Services: Elevate your business with customized AI solutions, including intuitive and interactive chatbots and task agents, tailored data analysis and AI models, and bespoke knowledgebase architectures. Our AI-powered tools are designed to answer domain and company-specific questions, streamline customer interactions, and help us learn how to optimize your business operations.
              </li>
              <li class="mt-4">
                Creators: Enrich the influencer landscape by harnessing AI to create immersive and engaging experiences for your audience. From personalized content recommendations to intelligent social media moderation, we can customize a solution to meet your business needs.
              </li>
              <li class="mt-4">
                Economic Development: This one we feel particularly strongly about.  We aim to drive growth and prosperity in underserved and undervalued communities with AI-powered analytics, resource optimization, and smart decision-analysis and prediction models. Our solutions will enable businesses and governments to identify opportunities, streamline processes, and foster sustainable development opportunities where they are needed most.
              </li>
            </ul>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- SECTION -->
    <section class="pt-6 pt-md-8">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-9 col-xl-8">

            <!-- Heading -->
            <h3 class="fw-bold">
              Embark on a Journey with 3Juliet AI
            </h3>

            <!-- Text -->
            <p>
              Join us in leveraging the power of artificial intelligence to create a brighter future. Explore our AI-powered tools and discover how 3Juliet AI can help you overcome everyday challenges, increase effectiveness, and unlock your full potential.
            </p>
            <p class="mb-0">
              Ready to learn more or engage with us? Reach out to us, we would love to discuss you needs and how our solutions can improve your life.
            </p>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- SECTION -->
    <section class="pt-6 pt-md-8 pb-8 pb-md-11">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-9 col-xl-8">

            <!-- Meta -->
            <div class="row align-items-center py-5 border-top border-bottom">
              <div class="col-auto">

                <!-- Avatar -->
                <div class="avatar avatar-lg">
                  <img alt="..." class="avatar-img rounded-circle" src={% static "assets/brand/logo_color-geo_bgtrans (32x35).png" %}>
                </div>

              </div>
              <div class="col ms-n5">

                <!-- Name -->
                <h6 class="text-uppercase mb-0">
                  3Juliet AI
                </h6>

                <!-- Date -->
                <time class="fs-sm text-muted" datetime="2019-05-20">
                  Published on April 20, 2023
                </time>

              </div>
              <div class="col-auto">

                <!-- Share -->
                <span class="h6 text-uppercase text-muted d-none d-md-inline me-4">
                  Share:
                </span>

                <!-- Icons -->
                <ul class="d-inline list-unstyled list-inline list-social">
                  <li class="list-inline-item list-social-item me-3">
                    <a href="#!" class="text-decoration-none">
                      <img class="list-social-icon" alt="..." src={% static "/assets/img/icons/social/instagram.svg" %}>
                    </a>
                  </li>
                  <li class="list-inline-item list-social-item me-3">
                    <a href="#!" class="text-decoration-none">
                      <img class="list-social-icon" alt="..." src={% static "/assets/img/icons/social/facebook.svg" %}>
                    </a>
                  </li>
                  <li class="list-inline-item list-social-item me-3">
                    <a href="#!" class="text-decoration-none">
                      <img class="list-social-icon" alt="..." src={% static "/assets/img/icons/social/twitter.svg" %}>
                    </a>
                  </li>
                </ul>

              </div>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- SHAPE -->
    <div class="position-relative">
      <div class="shape shape-bottom shape-fluid-x text-light">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path>
        </svg>
      </div>
    </div>


{% endblock %}